/* fonts */

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url("../images/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', "Arial", sans-serif;

}

a {
    text-decoration: none;
}

.btn {
    border: 2px solid transparent;
    background-color: transparent;
    outline: none;
}

.container {
    width: 1150px;
    margin: auto;
    padding: 0 20px;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-start {
    width: 525px;
    margin-right: 45px;
}

.hero-title {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: #fff;
}

.hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

.hero-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.hero-end-link {
    width: 540px;
    padding: 17px 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;

    /* identical to box height, or 173% */
    text-align: center;
    letter-spacing: 0.267857px;
    background: #5e54a4;
    box-shadow: 0px 8px 0px #00000025;
    border-radius: 10px;
    color: #fff;
}

.user-form {
    display: flex;
    flex-direction: column;
    width: 540px;
    padding: 40px;
    background-color: #fff;
}

.form-input {
    margin-bottom: 20px;
    padding: 15px 32px;
    background: #fff;
    border: 1px solid #5E54A4;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    /* identical to box height, or 186% */
    letter-spacing: 0.25px;

    color: #3D3B48;
    caret-color: #5e54a4;
    outline: none;
}

.form-input:focus {
    box-shadow: 0 0 2px 1px #5e54a4;
}

.form-input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    /* identical to box height, or 186% */
    color: #3D3B48;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.submit-btn {
    margin-bottom: 8px;
    padding: 15px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;

    /* identical to box height, or 173% */
    letter-spacing: 1px;

    color: #FFFFFF;
    background: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
}

.form-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;

    /* identical to box height, or 236% */
    text-align: center;

    color: #BAB7D4;
}

.terms-link {
    font-weight: 700;
    color: #FF7979;
}